{% extends "catalog/layout.html" %}

{%block content%}
<h1>All borrowed books</h1>

{% if bookinstance_list %}

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Borrower</th>
      <th>Due Date</th>
      <th>Renew</th>
    </tr>
  </thead>
  <tbody>
    {%for inst in bookinstance_list %}
    <tr>
      <td>{{inst.book.title}}</td>
      <td><a href="{% url 'catalog:book-detail' inst.book.pk %}">{{ inst.book.title }}</a></td>
      <td class="{% if inst.is_overdue %}text-danger{% endif %}">{{inst.due_back}}</td>
      {% if perms.catalog.can_mark_returned %}
      <td><a href="{% url 'catalog:renew-book-librarian' inst.id%}">Renew</a></td>
      {%endif%}
    </tr>
    {%endfor%}
  </tbody>
</table>
{% else %}
<p>There are no borrowed books.</p>
{% endif %}
{%endblock%}