{%extends "catalog/layout.html"%}

{%block title%}
Home - Local Library
{%endblock%}

{%block content%}
<h1>Local Library Home</h1>
<p>
  Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!
</p>
<h2>Dynamic Content</h2>
<p>The library has the following record counts:</p>
<ul>
  <li>📕 <strong>Books:</strong> {{num_books}}</li>
  <li>📔 <strong>Copies:</strong> {{num_instances}}</li>
  <li>📚 <strong>Copies available:</strong> {{num_instances_available}}</li>
  <li>✍️ <strong>Authors:</strong> {{num_authors}}</li>
  <li>⭐ <strong>Genres:</strong> {{num_genres}}</li>
</ul>
<p>Also, there are <strong>{{the_books}}</strong> books with the word "The" on their title. 😮</p>
{%endblock%}